@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";


html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  min-height: 100%;
}